/* The following block can be included in a custom.scss */


$blue: #48877b; //primary
//$green: #46b04a; //success
$red: #c35963; // danger
$yellow: #FDA12D; // warning
/*
$gray-100: #eff3f9;//light
$gray-800: #000; //dark
$black : #000;
$teal: #0c3841;
$cyan : #5fdaf9;
*/
$blank: #000;
$minimal-purple: #667c96;
$light-purple: #8c9eb2;
@import url('https://rsms.me/inter/inter.css');


$font-family-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Inter", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


/* import bootstrap to set changes */
$my-minimal-grey: #f7f7f7;
$my-white: #fff;
$minimal-blue: #f2f8ff;
$link-disabled-color: #b1bfd0;

@import "~bootstrap/scss/bootstrap";


/*Layout*/

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}


html, body, #root {
  min-height: 100% !important;
  font-family: 'Inter', sans-serif;
  font-size: medium;
}

body {
  background-color: $minimal-blue;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

#logo {
  vertical-align: middle;
}

.link-disabled-color {
  color: $link-disabled-color;

}

.link-border-left {
  border-left: 1px solid #f3eff1;
}

.link-border-right {
  border-right: 1px solid #f3eff1;
}

/** footer */

footer.page-footer {
  bottom: 0;
  color: $my-white;
}

footer.page-footer a {
  color: $my-white;
}

footer.page-footer .footer-legal {
  overflow: hidden;
  color: $my-white;
}

footer {
  margin-top: -1px;
  display: block;

}

/*
  Modal
 */

/*modal close*/

$vs-shadow-opacity: .05;
$vs-text: 255, 255, 255;
//$vs-color: #F66B00;

.modal-header .close {
  border-radius: 0;

  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}


.modal-header .close {

  color: #6b7885;
  position: absolute;
  top: -6px;
  right: -6px;
  background: #fff;
  border-radius: 12px;

  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;


  width: 34px;
  height: 34px;
  opacity: 1;

  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, $vs-shadow-opacity);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, $vs-shadow-opacity);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 200 !important;

}


.modal-header .close:hover {
  opacity: 1 !important;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, $vs-shadow-opacity);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, $vs-shadow-opacity);
  -webkit-transform: translate(-2px, 2px);
  transform: translate(-2px, 2px);
}

.modal-footer {
  border-top: none !important;;
}

.modal-header {
  border-bottom: none !important;
}

.modal-content {
  border: none !important;
}


/*
  Navbar
 */
.navbar-brand {
  display: flex;
  align-items: center;
}

/*.navbar-brand > img {
  padding: 7px 14px;
}*/
.my-first-dashboard {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-md {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.175) !important;

}

.shadow-sm {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.shadow-md-up {
  box-shadow: 0 -1.5rem 1.3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-md-left {
  box-shadow: -0.5rem 0 1.3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-md-right {
  box-shadow: 0.5rem 0 1.3rem rgba(0, 0, 0, 0.175) !important;
}


.shadow-md-bottom {
  box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-minimal {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, .175) !important;
}

.inline-block {
  display: inline-block;
}

.color-white {
  color: $white;
}

.color-blank {
  color: $blank
}

.color-minimal-purple {
  color: $minimal-purple;
}

.color-light-purple {
  color: $light-purple;
}

.sampleBox {
  height: 15rem;
  border-radius: 1.5rem;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.sampleBox-one {
  background: linear-gradient(rgba(250, 111, 53, 0.84), rgba(248, 184, 25, 0.98)), url("/pattern.png");
  min-height: 100%;
  background-size: cover;
  background-position: 50% 0;

  border: none;

}

.sampleBox-footer {
  position: absolute;
  bottom: 1rem;
}

.sampleBox-two {
  background: linear-gradient(rgba(72, 84, 135, 0.6), rgba(72, 84, 135, 0.9)), url("/pattern.png");
  min-height: 100%;
  background-size: cover;
  background-position: 50% 0;

  border: none;
}

.sampleBox-three {
  background: linear-gradient(rgba(123, 72, 135, 0.6), rgba(123, 72, 135, 0.9)), url("/pattern.png");
  min-height: 100%;
  background-size: cover;
  background-position: 50% 0;
  border: none;
}

.sampleBox-four {
  background: linear-gradient(rgba(83, 115, 115, 0.5), rgba(72, 135, 123, 0.9)), url("/pattern.png");
  min-height: 100%;
  background-size: cover;
  background-position: 50% 0;

  border: none;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}


.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}


.pt-8,
.py-8 {
  padding-top: 3rem !important;
}

.p-10 {
  padding: 6rem !important;
}

.pt-10,
.py-10 {
  padding-top: 6rem !important;
}

.pt-12,
.py-12 {
  padding-top: 7rem !important;
}


.pr-10,
.px-10 {
  padding-right: 6rem !important;
}

.pb-8,
.py-8 {
  padding-bottom: 3rem !important;
}


.pb-10,
.py-10 {
  padding-bottom: 6rem !important;
}

.pt-12,
.py-12 {
  padding-top: 7rem !important;
}

.pb-12,
.py-12 {
  padding-bottom: 7rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}


.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}


.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4-5{
  margin-bottom: 2.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}


.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}


.mt-10,
.my-10 {
  margin-top: 6rem !important;
}

.mr-10,
.mx-10 {
  margin-right: 6rem !important;
}

.mb-10,
.my-10 {
  margin-bottom: 6rem !important;
}

.unique-color-dark {
  background-color: $gray-800 !important;
}

.text-decoration-title{
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: rgba(190, 213, 209, 0.5);

}